In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_1 = '../hajun/2023-02-06-강제추행,강제범,실내.csv'
csv_2 = '../jiwon/도움요청,실외.csv'
csv_3 = '../hyeonwoo/절도,폭력.csv'

df1 = pd.read_csv(csv_1, encoding='utf8', low_memory=False)
df2 = pd.read_csv(csv_2, encoding='utf8', low_memory=False)
df3 = pd.read_csv(csv_3, encoding='cp949', low_memory=False)

In [3]:
test_data = df2[df2['category_02'] == '실외']
test_data

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
2184,1852232,21.00,16.실외_925735_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2185,1852232,21.00,16.실외_925736_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2186,1852232,21.00,16.실외_925738_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2187,1852232,21.00,16.실외_925739_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2188,1852232,21.00,16.실외_925740_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52815,165012396,214.86,16.실외_910545_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52816,165012396,214.86,16.실외_910611_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52817,165012396,214.86,16.실외_910650_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52818,165012396,214.86,16.실외_911049_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52819,243185012,1378.60,16.실외_918043_label,3.0,1375.60,일반(정상),실외,실외_공사장,공사장 현장 소리,sound,NaN,NaN,NaN

In [4]:
df3

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
0,472776,5.36,4.폭력범죄_574062_label,2.5,2.860,치안안전,폭력범죄,남_폭력범죄_죽고싶냐,죽을래,voice,male,adult,standard
1,475422,5.39,4.폭력범죄_574066_label,2.5,2.890,치안안전,폭력범죄,남_폭력범죄_죽고싶냐,죽을래,voice,male,adult,standard
2,475422,5.39,4.폭력범죄_574112_label,2.5,2.890,치안안전,폭력범죄,여_폭력범죄_죽고싶냐,죽을래,voice,female,adult,standard
3,477186,5.41,4.폭력범죄_574048_label,2.5,2.910,치안안전,폭력범죄,여_폭력범죄_죽고싶냐,죽을래,voice,female,adult,standard
4,477186,5.41,4.폭력범죄_574091_label,2.5,2.910,치안안전,폭력범죄,남_폭력범죄_죽고싶냐,죽을래,voice,male,adult,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54253,24696044,70.00,4.폭력범죄_864829_label,16.5,21.913,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54254,24696044,70.00,4.폭력범죄_864878_label,16.5,20.700,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54255,24696044,70.00,4.폭력범죄_865019_label,16.5,21.913,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54256,24696044,70.00,4.폭력범죄_865042_label,16.5,21.240,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54257,24696044,70.00,4.폭력범죄_865280_label,16.5,21.240,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard

In [5]:
test_data

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
2184,1852232,21.00,16.실외_925735_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2185,1852232,21.00,16.실외_925736_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2186,1852232,21.00,16.실외_925738_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2187,1852232,21.00,16.실외_925739_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
2188,1852232,21.00,16.실외_925740_label,3.0,18.00,일반(정상),실외,실외_공통,경찰차 사이렌 소리,sound,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52815,165012396,214.86,16.실외_910545_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52816,165012396,214.86,16.실외_910611_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52817,165012396,214.86,16.실외_910650_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52818,165012396,214.86,16.실외_911049_label,2.0,212.86,일반(정상),실외,실외_기차,기차,sound,NaN,NaN,NaN
52819,243185012,1378.60,16.실외_918043_label,3.0,1375.60,일반(정상),실외,실외_공사장,공사장 현장 소리,sound,NaN,NaN,NaN

In [6]:
data_merged = pd.concat([df1, df2, df3])

In [7]:
data_merged

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
0,184382,2.09,2.강도범죄_352380_label,0.045,2.455,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
1,184382,2.09,2.강도범죄_352512_label,0.045,2.805,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽고싶어,voice,female,adult,standard
2,184382,2.09,2.강도범죄_352620_label,0.045,2.575,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
3,184382,2.09,2.강도범죄_352838_label,0.045,2.925,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽여버린다,voice,female,adult,standard
4,184382,2.09,2.강도범죄_352869_label,0.045,2.685,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽고싶어,voice,male,adult,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54253,24696044,70.00,4.폭력범죄_864829_label,16.500,21.913,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54254,24696044,70.00,4.폭력범죄_864878_label,16.500,20.700,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54255,24696044,70.00,4.폭력범죄_865019_label,16.500,21.913,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54256,24696044,70.00,4.폭력범죄_865042_label,16.500,21.240,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
54257,24696044,70.00,4.폭력범죄_865280_label,16.500,21.240,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard

In [40]:
data_merged.to_csv('../merged_data.csv')
merged = pd.read_csv('../merged_data.csv', encoding='utf8', low_memory=False)

,Unnamed: 0,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
0,0,184382,2.09,2.강도범죄_352380_label,0.045,2.455,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
1,1,184382,2.09,2.강도범죄_352512_label,0.045,2.805,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽고싶어,voice,female,adult,standard
2,2,184382,2.09,2.강도범죄_352620_label,0.045,2.575,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
3,3,184382,2.09,2.강도범죄_352838_label,0.045,2.925,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽여버린다,voice,female,adult,standard
4,4,184382,2.09,2.강도범죄_352869_label,0.045,2.685,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽고싶어,voice,male,adult,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178643,54253,24696044,70.00,4.폭력범죄_864829_label,16.500,21.913,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
178644,54254,24696044,70.00,4.폭력범죄_864878_label,16.500,20.700,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
178645,54255,24696044,70.00,4.폭력범죄_865019_label,16.500,21.913,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
178646,54256,24696044,70.00,4.폭력범죄_865042_label,16.500,21.240,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard
178647,54257,24696044,70.00,4.폭력범죄_865280_label,16.500,21.240,치안안전,폭력범죄,남_폭력범죄_살려주세요_실외기,살려주세요,voice,male,adult,standard

In [44]:
data_merged['fileSize'].sum()//(1024*1024)

807850

In [10]:
from IPython.core.display_functions import display

csv_filename = '2023-02-06-강제추행,강제범,실내.csv'
df = pd.read_csv(csv_filename, encoding='utf8', low_memory=False)
pd.set_option('display.max_columns', None)
display(df.head())
display(df.tail())

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
0,184382,2.09,2.강도범죄_352380_label,0.045,2.455,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
1,184382,2.09,2.강도범죄_352512_label,0.045,2.805,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽고싶어,voice,female,adult,standard
2,184382,2.09,2.강도범죄_352620_label,0.045,2.575,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
3,184382,2.09,2.강도범죄_352838_label,0.045,2.925,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽여버린다,voice,female,adult,standard
4,184382,2.09,2.강도범죄_352869_label,0.045,2.685,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽고싶어,voice,male,adult,standard

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
71565,18003572,102.061,15.실내_915418_label,3.0,99.061,일반(정상),실내,실내_주방,전자레인지소리,sound,NaN,NaN,NaN
71566,19260428,100.314,15.실내_892249_label,3.0,97.315,일반(정상),실내,실내_공통,악기 이용 소리,sound,NaN,NaN,NaN
71567,19641972,111.349,15.실내_915841_label,3.0,108.349,일반(정상),실내,실내_주방,기름튀기는 소리,sound,NaN,NaN,NaN
71568,20784140,108.250,15.실내_918360_label,3.0,105.251,일반(정상),실내,실내_화장실,얼굴을씻는소리,sound,NaN,NaN,NaN
71569,37628752,426.629,15.실내_906200_label,3.0,423.629,일반(정상),실내,실내_주방,밥솥 소리,sound,NaN,NaN,NaN

In [45]:
data_merged.groupby('category_02')['audio_id'].count()
# 카테고리_02를 통해 분류해야할 듯

category_02
강도범죄         19490
강제추행(성범죄)    20925
도움요청         40735
실내           31155
실외           12085
절도범죄         12646
폭력범죄         41612
Name: audio_id, dtype: int64

In [8]:
data_merged['audioType'].unique()

array(['voice', 'sound'], dtype=object)

In [9]:
data_merged.groupby('category_03')['audio_id'].count()
# 종류가 너무 많음

category_03
남_노인_강도범죄_꼼짝 말고 있어_입막음소리    120
남_노인_강도범죄_꼼짝마_입막음소리         115
남_노인_강도범죄_돈 내놔_비명소리         263
남_노인_강도범죄_반항하면 죽는다_입막음소리    121
남_노인_강도범죄_빨리 안 내놔_비명소리      260
                           ...
여_폭력범죄_살려주세요_실외기             29
여_폭력범죄_살려주세요_우는소리           141
여_폭력범죄_신고해줘                  16
여_폭력범죄_신고해줘_우는소리            345
여_폭력범죄_죽고싶냐                  29
Name: audio_id, Length: 169, dtype: int64

In [10]:
data_merged.groupby(['gender'], dropna=False)['audio_id'].count()

gender
female    64206
male      30467
NaN       31155
Name: audio_id, dtype: int64

In [11]:
data_merged.groupby(['dialect'], dropna=False)['audio_id'].count()

dialect
kyongsang      142
standard     94531
NaN          31155
Name: audio_id, dtype: int64

In [13]:
data_merged.groupby(['generation'], dropna=False)['audio_id'].count()

generation
adult       49624
child        7872
senior      22008
teenager    15169
NaN         31155
Name: audio_id, dtype: int64

In [14]:
data_merged[['duration','area_start', 'area_end']].describe()

            duration     area_start       area_end
count  125828.000000  125828.000000  125828.000000
mean       24.039450       4.699125      18.363890
std        17.834282       2.671588      17.820396
min         2.090000       0.045000       2.405000
25%        10.350750       3.000000       6.460000
50%        14.592000       4.000000       9.819000
75%        34.247000       5.000000      21.686500
max       426.629000      18.876500     423.629000

In [15]:
data_merged.groupby('category_02')['duration','area_start', 'area_end'].agg(['mean', 'max', 'min'])
# 실내 duration max가 지나치게 크다

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

              duration                 area_start                   area_end  \
                  mean      max    min       mean      max    min       mean
category_02
강도범죄         14.881141   39.753  2.090   5.824977  18.8765  0.045   8.906141
강제추행(성범죄)    15.377059   30.000  5.360   5.298614   9.0000  2.500   8.150938
실내           49.117416  426.629  6.811   2.998448   5.0000  2.000  46.118974
절도범죄         23.244099   30.000  5.570   6.571643   9.0000  2.500  13.137213
폭력범죄         14.150714   82.810  5.360   4.574584  16.5000  1.000   8.737446


                  max    min
category_02
강도범죄          22.7865  2.405
강제추행(성범죄)     20.0130  2.860
실내           423.6290  3.811
절도범죄          24.7110  3.070
폭력범죄          80.4100  2.860

In [16]:
data_merged[data_merged['category_02'] == '강도범죄'][['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  19490.000000  19490.000000  19490.000000
mean      14.881141      5.824977      8.906141
std       10.405116      4.810202      5.001641
min        2.090000      0.045000      2.405000
25%        7.941000      3.000000      5.330500
50%        9.456000      3.156500      6.678250
75%       19.551000      8.775500     11.632750
max       39.753000     18.876500     22.786500

In [17]:
data_merged[data_merged['category_02'] == '강제추행(성범죄)'][['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  20925.000000  20925.000000  20925.000000
mean      15.377059      5.298614      8.150938
std        8.724041      2.206293      3.396090
min        5.360000      2.500000      2.860000
25%        9.970000      4.000000      5.970000
50%       10.340000      4.000000      6.340000
75%       30.000000      9.000000     12.142000
max       30.000000      9.000000     20.013000

In [18]:
data_merged[data_merged['category_02'] == '실내'][['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  31155.000000  31155.000000  31155.000000
mean      49.117416      2.998448     46.118974
std       13.968318      0.939683     13.974351
min        6.811000      2.000000      3.811000
25%       36.600000      2.000000     33.300000
50%       42.953000      3.000000     40.367000
75%       64.000000      3.700000     62.000000
max      426.629000      5.000000    423.629000

In [20]:
duration_max = data_merged[data_merged['category_02'] == '강도범죄']['duration'].max()
# 데이터를 조금 잘라보자
df_trun = data_merged[data_merged['duration'] <= duration_max]
df_trun.describe()

           fileSize       duration     area_start       area_end
count  1.060040e+05  106004.000000  106004.000000  106004.000000
mean   2.977498e+06      17.766667       4.956062      11.849840
std    2.176387e+06      10.145583       2.701458       8.618875
min    1.843820e+05       2.090000       0.045000       2.405000
25%    9.261220e+05      10.110000       3.300000       6.230000
50%    2.412088e+06      13.030000       4.000000       8.278000
75%    5.292044e+06      30.000000       5.000000      13.200000
max    1.356017e+07      39.753000      18.876500      37.740000

In [26]:
df_trun_2 = data_merged[data_merged['area_start'] <= 3]
df_trun_2.describe()

           fileSize      duration    area_start      area_end
count  3.400400e+04  34004.000000  34004.000000  34004.000000
mean   4.603533e+06     29.687415      2.507864     27.259489
std    3.861135e+06     23.201528      0.587198     23.286983
min    1.843820e+05      2.090000      0.045000      2.405000
25%    7.972820e+05      8.096000      2.000000      5.276000
50%    3.673099e+06     21.682000      3.000000     19.243000
75%    7.254644e+06     43.918000      3.000000     41.899000
max    3.762875e+07    426.629000      3.000000    423.629000

In [30]:
df_trun_2.groupby('category_02')['audio_id'].count()

category_02
강도범죄          9386
강제추행(성범죄)      151
실내           16919
절도범죄           304
폭력범죄          7244
Name: audio_id, dtype: int64

In [31]:
df_trun_3 = df_trun_2[df_trun_2['duration'] <= 20]
df_trun_3.describe()

           fileSize      duration   area_start      area_end
count  1.665100e+04  16651.000000  16651.00000  16651.000000
mean   1.183056e+06      8.524052      2.74392      5.943367
std    9.123726e+05      2.701495      0.61006      2.377487
min    1.843820e+05      2.090000      0.04500      2.405000
25%    6.580680e+05      7.390000      2.97050      4.706250
50%    7.935100e+05      8.053000      3.00000      5.250000
75%    1.470712e+06      9.369000      3.00000      6.391000
max    6.037700e+06     19.993000      3.00000     18.993000

In [32]:
df_trun_3.groupby('category_02')['duration','area_start', 'area_end'].agg(['mean', 'max', 'min'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

              duration                area_start               area_end  \
                  mean     max    min       mean  max    min       mean
category_02
강도범죄          7.990823  16.669  2.090   2.622737  3.0  0.045   5.657657
강제추행(성범죄)     6.610980  10.981  5.360   2.612583  3.0  2.500   3.998417
실내           14.592314  19.960  6.811   2.314286  3.0  2.000  12.278029
절도범죄          6.136480   7.460  5.570   2.500000  2.5  2.500   3.636480
폭력범죄          9.381203  19.993  5.360   2.927897  3.0  1.000   6.453320


                max    min
category_02
강도범죄         13.669  2.405
강제추행(성범죄)     7.981  2.860
실내           17.960  3.811
절도범죄          4.960  3.070
폭력범죄         18.993  2.860

In [33]:
df_trun_3.groupby('category_02')['audio_id'].count()
# 8개

category_02
강도범죄         9386
강제추행(성범죄)     151
실내             35
절도범죄          304
폭력범죄         6775
Name: audio_id, dtype: int64

In [34]:
df_trun_3.groupby('category_02')['duration','area_start', 'area_end'].quantile([0.25, 0.5, 0.75])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                  duration  area_start  area_end
category_02
강도범죄        0.25     6.687      2.3435   4.82025
            0.50     7.941      3.0000   5.28350
            0.75     9.009      3.0000   6.03600
강제추행(성범죄)   0.25     5.855      2.5000   3.35500
            0.50     6.020      2.5000   3.52000
            0.75     6.460      2.5000   3.96000
실내          0.25    10.270      2.0000   8.27000
            0.50    16.006      2.0000  13.00600
            0.75    19.960      3.0000  17.96000
절도범죄        0.25     5.890      2.5000   3.39000
            0.50     6.060      2.5000   3.56000
            0.75     6.265      2.5000   3.76500
폭력범죄        0.25     7.630      3.0000   4.63000
            0.50     8.270      3.0000   5.27000
            0.75    10.020      3.0000   7.02000